<?xml version="1.0" encoding="UTF-8"?>
<no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>
	<blogTransformationBehaviourConfig>
		<behaviourId>blogTransformationBehaviour</behaviourId>
		<zoneId>POST_REQUEST</zoneId>
		<urlFilters>
			<no.integrasco.ingentia.news.config.entity.UrlFilter>
				<customExpressionString>http://www.geeksugar.com/Kim-Kardashian-Butt-Grab-Jennifer-Lopez-Red-Carpet-Back-up-Plan-Premiere-Jersey-Shore-Girls-Bikinis-8206801</customExpressionString>
				<rule>DENY</rule>
				<highPriorityFilter>true</highPriorityFilter>
			</no.integrasco.ingentia.news.config.entity.UrlFilter>
			<no.integrasco.ingentia.news.config.entity.UrlFilter>
				<customExpressionString>http://www.geeksugar.com/${string}-${integer}</customExpressionString>
				<rule>ALLOW</rule>
				<highPriorityFilter>false</highPriorityFilter>
			</no.integrasco.ingentia.news.config.entity.UrlFilter>
			<no.integrasco.ingentia.news.config.entity.UrlFilter>
				<customExpressionString>${all}</customExpressionString>
				<rule>DENY</rule>
				<highPriorityFilter>false</highPriorityFilter>
			</no.integrasco.ingentia.news.config.entity.UrlFilter>
		</urlFilters>
		<baseUrl/>
		<transformation>
			<transformationId>-1</transformationId>
			<transformation/>
			<transformationType>
				<transformationTypeId>2</transformationTypeId>
			</transformationType>
		</transformation>
		<cleanerType>tagsoup</cleanerType>
		<xQueryBaseUri/>
		<gmtOffset>1</gmtOffset>
		<dateFormat>MM dd yyyy HH mm ss</dateFormat>
		<dateLocale>en</dateLocale>
		<uriValidatePattern>blog://geeksugar.com/${string}</uriValidatePattern>
		<authorUriValidatePattern>user://geeksugar.com/${string}</authorUriValidatePattern>
		<commentUriValidatePattern>blog://geeksugar.com/comment/${string}</commentUriValidatePattern>
	</blogTransformationBehaviourConfig>
	<customUrlBehaviourConfig>
		<behaviourId>customUrlBehaviour</behaviourId>
		<zoneId>POST_REQUEST</zoneId>
		<urlFilters>
		<no.integrasco.ingentia.news.config.entity.UrlFilter>
				<customExpressionString>http://www.geeksugar.com/${string}-${integer}</customExpressionString>
				<rule>ALLOW</rule>
				<highPriorityFilter>false</highPriorityFilter>
			</no.integrasco.ingentia.news.config.entity.UrlFilter>
			<no.integrasco.ingentia.news.config.entity.UrlFilter>
				<customExpressionString>http://www.geeksugar.com/?page=${integer}</customExpressionString>
				<rule>ALLOW</rule>
				<highPriorityFilter>false</highPriorityFilter>
			</no.integrasco.ingentia.news.config.entity.UrlFilter>
			<no.integrasco.ingentia.news.config.entity.UrlFilter>
				<customExpressionString>${all}</customExpressionString>
				<rule>DENY</rule>
				<highPriorityFilter>false</highPriorityFilter>
			</no.integrasco.ingentia.news.config.entity.UrlFilter>
		</urlFilters>
		<baseUrl/>
	</customUrlBehaviourConfig>
</no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>