<?xml version="1.0"?>
<no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>
    <blogTransformationBehaviourConfig>
        <behaviourId>blogTransformationBehaviour</behaviourId>
        <zoneId>POST_REQUEST</zoneId>
        <urlFilters>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>https://www.nevillehobson.com/2010/07/04/ted-the-ultimate-forum-for-blue-sky-thinking/</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>https://www.nevillehobson.com/2008/01/14/pluck-on-demand/</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>https://www.nevillehobson.com/${integer}/${integer}/${integer}/${string}/</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>${all}</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
        </urlFilters>
        <baseUrl/>
        <transformation>
            <transformationId>1476</transformationId>
            <transformation/>
            <transformationType>
                <transformationTypeId>2</transformationTypeId>
            </transformationType>
        </transformation>
        <cleanerType>tagsoup</cleanerType>
        <xQueryBaseUri/>
        <gmtOffset>1</gmtOffset>
        <dateFormat>MM dd yyyy HH mm ss</dateFormat>
        <dateLocale>en</dateLocale>
        <uriValidatePattern>blog://nevillehobson.com/${integer}</uriValidatePattern>
        <authorUriValidatePattern>user://nevillehobson.com/${string}</authorUriValidatePattern>
        <commentUriValidatePattern>blog://nevillehobson.com/comment/${integer}</commentUriValidatePattern>
    </blogTransformationBehaviourConfig>
    <customUrlBehaviourConfig>
        <behaviourId>customUrlBehaviour</behaviourId>
        <zoneId>POST_REQUEST</zoneId>
        <urlFilters>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>https://www.nevillehobson.com/${integer}/${integer}/${integer}/${string}/</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>https://www.nevillehobson.com/page/${integer}/</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>${all}</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
        </urlFilters>
        <baseUrl/>
    </customUrlBehaviourConfig>
</no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>