<?xml version="1.0" ?><no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>
	<blogTransformationBehaviourConfig>
		<behaviourId>blogTransformationBehaviour</behaviourId>
		<zoneId>POST_REQUEST</zoneId>
		<urlFilters>
			<no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/news/1604-demographer-slams-negative-property-outlook</customExpressionString>
		        <rule>DENY</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		    </no.integrasco.ingentia.news.config.entity.UrlFilter>
		    <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/news/1667-smes-too-casual-about-finance-applications</customExpressionString>
		        <rule>DENY</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		    </no.integrasco.ingentia.news.config.entity.UrlFilter>
		    <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/special-features/1603-commander-helps-small-businesses-with-david-koch</customExpressionString>
		        <rule>DENY</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		    </no.integrasco.ingentia.news.config.entity.UrlFilter>
		    <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/my-business-awards/${integer}-${string}</customExpressionString>
		        <rule>DENY</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		    </no.integrasco.ingentia.news.config.entity.UrlFilter>
     		<no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/${string}/${integer}-${string}</customExpressionString>
		        <rule>ALLOW</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		    </no.integrasco.ingentia.news.config.entity.UrlFilter>
		    <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>${all}</customExpressionString>
		        <rule>DENY</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		    </no.integrasco.ingentia.news.config.entity.UrlFilter>
		  </urlFilters><baseUrl/>
		<transformation>
			<transformationId>6106</transformationId>
			<transformation/>
			<transformationType>
				<transformationTypeId>2</transformationTypeId>
			</transformationType>
		</transformation>
		<cleanerType>tagsoup</cleanerType>
		<xQueryBaseUri/>
		<gmtOffset>10</gmtOffset>
		<dateFormat>MM dd yyyy HH mm ss</dateFormat>
		<dateLocale>en</dateLocale>
		<uriValidatePattern>blog://mybusiness.com.au/${string}</uriValidatePattern>
		<authorUriValidatePattern>user://mybusiness.com.au/${string}</authorUriValidatePattern>
		<commentUriValidatePattern>blog://mybusiness.com.au/comment/${string}</commentUriValidatePattern>
	</blogTransformationBehaviourConfig>
	<customUrlBehaviourConfig>
		<behaviourId>customUrlBehaviour</behaviourId>
		<zoneId>POST_REQUEST</zoneId>
		<urlFilters>
 		     <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/${string}/${integer}-${string}</customExpressionString>
		        <rule>ALLOW</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		      </no.integrasco.ingentia.news.config.entity.UrlFilter>
		      <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>https://www.mybusiness.com.au/${string}</customExpressionString>
		        <rule>ALLOW</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		      </no.integrasco.ingentia.news.config.entity.UrlFilter>
		      <no.integrasco.ingentia.news.config.entity.UrlFilter>
		        <customExpressionString>${all}</customExpressionString>
		        <rule>DENY</rule>
		        <highPriorityFilter>false</highPriorityFilter>
		      </no.integrasco.ingentia.news.config.entity.UrlFilter>
  	</urlFilters><baseUrl/>
	</customUrlBehaviourConfig>
</no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>