<?xml version="1.0"?>
<no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>
    <blogTransformationBehaviourConfig>
        <behaviourId>blogTransformationBehaviour</behaviourId>
        <zoneId>POST_REQUEST</zoneId>
        <urlFilters>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>http://gizmodo.uol.com.br/${string}/</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>http://${string}:8097/ingentia-services-rest/rest/crawled-content?id=${all}</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>true</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>http://localhost${all}</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>true</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>${all}</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
        </urlFilters>
        <baseUrl/>
        <transformation>
            <transformationId>6206</transformationId>
            <transformation/>
            <transformationType>
                <transformationTypeId>2</transformationTypeId>
            </transformationType>
        </transformation>
        <cleanerType>tagsoup</cleanerType>
        <xQueryBaseUri/>
        <gmtOffset>-3</gmtOffset>
        <dateFormat>MM dd yyyy HH mm ss</dateFormat>
        <dateLocale>en</dateLocale>
        <uriValidatePattern>blog://gizmodo.uol.com.br/${integer}</uriValidatePattern>
        <authorUriValidatePattern>user://gizmodo.uol.com.br/${string}</authorUriValidatePattern>
        <commentUriValidatePattern>blog://gizmodo.uol.com.br/comment/${integer}</commentUriValidatePattern>
    </blogTransformationBehaviourConfig>
    <customUrlBehaviourConfig>
        <behaviourId>customUrlBehaviour</behaviourId>
        <zoneId>POST_REQUEST</zoneId>
        <urlFilters>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>http://gizmodo.uol.com.br/mande-sua-dica/</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>http://gizmodo.uol.com.br/${string}/</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>http://gizmodo.uol.com.br/page/${integer}/</customExpressionString>
                <rule>ALLOW</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
            <no.integrasco.ingentia.news.config.entity.UrlFilter>
                <customExpressionString>${all}</customExpressionString>
                <rule>DENY</rule>
                <highPriorityFilter>false</highPriorityFilter>
            </no.integrasco.ingentia.news.config.entity.UrlFilter>
        </urlFilters>
        <baseUrl/>
    </customUrlBehaviourConfig>
</no.integrasco.ingentia.news.config.BlogNewsCollectionConfig>